html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%; 
}

#headerTitleDiv {
    font-size: 3vw;
    vertical-align: middle;
    padding-top: 3px;
    z-index: 99;
    position: absolute;
    left: 17;
    top: 18;
    color: white;
}

#cpButton {
  margin-right:1%;
  margin:0;
  width: 350px;
  text-align: center;
}

.cpButtonClass {
    position: absolute;
  font-style: normal;
  width: 300px;
  font-size: 1.2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  z-index: 99;
  right: 80;
  top: 20;
}

#menu {
  padding: 3px 3px 3px 3px;
  background-color: rgb(0,0,0,0.3);
  color: white;
}

#menu1 {
  position: absolute;
  z-index: 99;
  bottom: 60;
  right: 15;
  padding: 3px 3px 3px 3px;
  background-color: rgb(0,0,0,0.3);
  color: white;
}

#monthlyProgressChartDiv {
  display: none;
    position: absolute;
    width: 60vw;
    height: 20vh;
    z-index: 99;
    bottom: 70%;
    left:31vw;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
}

.dateDiv {
    color: rgb(0, 197, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 1.1vw;
    padding-top: 2%;
    margin: 0;
    z-index:99;
    top: 55;
    left: 30;
    position: absolute;
}

.img {
    float: left;
    padding-left: 20;
}

img {
    width: 55;
    height: 55;
    /*- center images-*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labelPileCap,
.labelPier,
.labelPierHead,
.labelPrecast {
    color: white;
    font-size: 1.4vw;
    text-align: center;
    background-color: green;
}

#labelBoredPile,
#labelPileCap,
#labelPier,
#labelPierHead,
#labelPrecast {
    color: white;
    font-size: 1.3vw;
    text-align: center;
    width: 14vw;
    height: 4vh;
    padding-top: 3;  
}

#labelTotalDiv {
    color: white;
    font-size: 1.3vw;
    width: 14vw;
    height: 4vh;
    padding-top: 3;
    text-align: center;
}

.lowerPanelBox {
    display: flex;
    height: 70%;
}

#logoDiv {
    width: 35%;
    height: 100%;
    /*-Vertically align in the middle-*/
    display: flex;
    align-items: center;
}

#chartPanel {
    display: inline-block;
    width: 100%;
    height: 100%;
    /*-Vertically align in the middle-*/
}

#boxBoredPile {
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    bottom: 20;
    left: 0.5%;
    color: white;
    font-size: 2vw;
    text-align: center;
    aspect-ratio: auto 4 / 2;
}

#boxPileCap {
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    bottom: 20;
    left: 15%;
    color: white;
    font-size: 2vw;
    text-align: center;
    aspect-ratio: auto 4 / 2;
}

#boxPier {
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    bottom: 20;
    left: 29.5%;
    color: white;
    font-size: 2vw;
    text-align: center;
    aspect-ratio: auto 4 / 2;
}

#boxPierHead {
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    bottom: 20;
    left: 44%;
    color: white;
    font-size: 2vw;
    text-align: center;
    aspect-ratio: auto 4 / 2;
}

#boxPrecast {
    position: absolute;
    z-index: 99;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    bottom: 20;
    left: 58.5%;
    color: white;
    font-size: 2vw;
    text-align: center;
    aspect-ratio: auto 4 / 2;
}

#boxTotal {
        position: absolute;
        z-index: 99;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
        border-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: rgb(0,0,0,0.5);
        bottom: 20;
        left: 73%;
        color: white;
        font-size: 2vw;
        text-align: center;
        aspect-ratio: auto 4 / 2;
      }

#chartBoredPileDiv,
#chartPileCapDiv,
#chartPierDiv,
#chartPierHeadDiv,
#chartPrecastDiv {
    position: absolute;
    padding-top: 5%;
    margin-top: 0;
    z-index: 99;
    background-color: rgb(0,0,0,0);
    aspect-ratio: auto 4 / 2;
}

#totalProgressDiv {
  position: absolute;
    color: rgb(0, 197, 255);
    font-size: 2.5vw;
    padding-top: 11;
    text-align: center;
    width: 14vw;
}

/* Default Letter */    
p {
  color: rgb(0, 197, 255);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: auto;
  vertical-align: text-bottom;
  padding: 3px;
  margin-top: 10px;
}

h2 {
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 1.8vw;
  color: white;
  padding:3px;
  margin: 0px;
  vertical-align: text-top;
}

h4 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 1vw;
  padding-top: 20px;
  margin: 0;
  width: 180px;
  vertical-align: text-bottom;
}

h5 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h6 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 3vw;
  margin-top: 7%;
}

/* Others */
br{content:' ';}
br:after{content:' ';}

.esri-layer-list__item-toggle-icon,
.esri-layer-list__item-title {
  color: white;
}

/** sassy-theme to change properties of esri's box**/
.sassy-theme .esri-menu,
.sassy-theme .esri-popup__main-container,
.sassy-theme .esri-popup .esri-popup__pointer-direction,
.sassy-theme .esri-popup .esri-popup__button,
.sassy-theme .esri-button,
.sassy-theme .esri-input,
.sassy-theme .esri-legend,
.sassy-theme .esri-layer-list,
.sassy-theme .esri-widget a {
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
}
