html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(0,0,0,0.5);
}

#applicationDiv {
  display: flex;
  flex-wrap: wrap;
  height: 88vh;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;

}

#informationDiv {
  position: absolute;
  z-index: 99;
  width: 30vw;
  height: 10vh;
  color: white;
  bottom: 190;
  right: 5;
  font-size: 1rem;
}

#informationDiv b {
  font-size: 1rem;
  color: orange;
  margin: 0;
  padding: 0;
}

.contentBox {
  display: grid;
  grid-template-columns: 80vw 17.8vw;
  width: 100%;
  height: 88vh;
}

.container {
    display: grid;
    flex-wrap: wrap;
  height: 88vh;
  box-sizing: border-box;
    border-right: 0;
  
}

.containerB {
  font-size: 1.5vw;
  color: white;
  padding-top: 40%;
}


#headerDiv {
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: 2fr 150px;
  margin: 0.5%;
}

#headerTitleDiv {
  color: white;
  font-weight: bold;
  font-size: 1.8vw;

}

.dateDiv {
  z-index: 99;
  position: absolute;
  padding-bottom: 10;
  font-size: 1vw;
  color: rgb(0, 197, 255);
  right:10;
  bottom: 10;
}

.landStrucIsfBox,
.treeBox,
.utilityBox {
  display: inline-flex;
  height: 20vh;
  width: 100%;
  box-sizing: border-box;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

#legendChartDiv {
  position: absolute;
  z-index: 99;
  right: 80;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0);
  height: 50vh;
  width: 10vw;
}

#landChartDiv,
#structureChartDiv,
#isfChartDiv,
#treeCuttingChartDiv,
#treeCompenChartDiv,
#utilityPointChartDiv,
#utilityLineChartDiv,
#treeEmptyChartDiv,
#utilityEmptyChartDiv {
    width: 35%;
    height: 32vh;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    }

a {
  font-size: 1.2vw;
  color: white;
  font-weight: bold;
}

a:hover,
a:focus {
  color: rgb(185, 171, 171);
  font-size: 1.2vw;
}

ul {
list-style: none;
padding-left: 10;
line-height: 3rem;
}
​



p {
  font-size: 1rem;
  width: auto;
  vertical-align: text-bottom;
  padding: 0;
  margin-top: 0;
}


h2 {
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 23px;
  color: white;
  padding:3px;
  margin: 0px;
  width: 470px;
  vertical-align: text-top;
}



h3 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 10;
  width: 100%;

}

h4 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  padding-top: 20px;
  margin: 0;
  width: 160px;
  vertical-align: text-bottom;
}

h5 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 3;
  margin: 10;
}

h6 {
  color: rgb(0, 197, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  padding: 0px 0px 0px 0px;
  }


    .sassy-theme .esri-menu,
.sassy-theme .esri-popup__main-container,
.sassy-theme .esri-popup .esri-popup__pointer-direction,
.sassy-theme .esri-popup .esri-popup__button,
.sassy-theme .esri-button,
.sassy-theme .esri-input,
.sassy-theme .esri-legend,
.sassy-theme .esri-layer-list,
.sassy-theme .esri-widget a {
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
}

.sassy-theme .esri-legend__layer-caption {
display: none;
}