html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


#mapTitleDiv {
  font-size: 3vw;
  vertical-align: middle;
  padding-top: 3px;
  z-index: 99;
  position: absolute;
  left: 17;
  top: 18;
  color: white;
}

#headerTitleDiv {
  font-size: 2vw;
  vertical-align: middle;
  padding-top: 3px;
  z-index: 99;
  position: absolute;
  left: 17;
  top: 18;
  color: white;
}

#chartdiv {
    position: absolute;
    width: 15%;
    height: 50%;
    bottom: 5%;
    left: 1vw;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,185,242,0.4));
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,0,0,0.5);
    padding: 5;

}

#infoDiv {
  padding: 10px;
  width: 250px;
  margin: 5px;
  position: absolute;
  bottom: 10px;
  right: 6px;
}

b, h4 {
  color: orange;
}

#pixelSlider {
  height: 30vh;
  padding: 10px;
  margin: 0;
  padding: 0;
}

.geometry-options {
  display: flex;
  flex-direction: row;
}

.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.active {
  background: #4c4c4c;
  color: #fff;
}

.sassy-theme .esri-menu,
.sassy-theme .esri-popup__main-container,
.sassy-theme .esri-popup .esri-popup__pointer-direction,
.sassy-theme .esri-popup .esri-popup__button,
.sassy-theme .esri-button,
.sassy-theme .esri-input,
.sassy-theme .esri-legend,
.sassy-theme .esri-layer-list,
.sassy-theme .esri-widget a {
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
}

/* The alert message box */
#alert {
  padding: 20px;
  background-color:black;
  color: red;
  margin-bottom: 15px;
  position: absolute;
  z-index: 99;
  top: 10;
  right: 10;
  display: none;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(116, 114, 111);
}

